DATABASE_URL=postgresql://user:password@localhost:5432/backend
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_KEY=records:all
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=records-uploaded
KAFKA_DLQ_TOPIC=records-uploaded-dlq
KAFKA_GROUP_ID=kafka-consumer
KAFKAJS_NO_PARTITIONER_WARNING=1
