PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/backend
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_KEY=records:all
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=records-uploaded
KAFKAJS_NO_PARTITIONER_WARNING=1